body {
  font-family: Arial, sans-serif;
}

.navbar-logo {
  width: 50px; 
  height: auto;
}


.text-center {
  color: #333; 
}

.image-description-container p {
  text-align: center;
  margin-top: 10px;
  color: rgb(32, 32, 32); 
}

/* Imágenes */
.fixed-height-image {
  height: 200px; 
  object-fit: cover; 
  margin-bottom: 15px; 
  width: 150px;
}

/* Footer */
footer {
  background-color: rgb(0, 0, 0); 
color: white;
}

footer p {
  margin: 0; 
  padding: 10px 0; 
  font-size: 0.9rem; 
}


@media (max-width: 767px) {
  .fixed-height-image {
      height: 150px; 
  }
}
